/* Step-2 You can assign padding to all sides of a container by using the padding property. */

.content-left {
 padding: 0.6vh 0.25vw
}


/* Step 2 You can assign padding to all sides of a container by using the padding property. */

.header {
  padding:0.6vh 0.25vw
  }


/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-image-container {
    background: #96F0F2;
    width:18.4vw;
    height: 25vh;
    margin-bottom: 2vh;
    position: relative;
    top: 1vh;
    left: 1vh;
}

/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-links-container {
    background-color: #12F3F7;
    width: 18.4vw;
    height: 50vh;
    position:relative;
    top: 1vh;
    left: 1vh;
}

/* Step-2 You can either use float left or position absolute to get this element to in the desired location. */

.logo-container {
    background: #4F4949;
    width:4vw;
    height:8vh;
    float: right;
    position: relative;
    top:0.4vh;
    right:0.4vw
}


/* Step-2 You can either use float right or position absolute to get this element to in the desired location. */

.menu-container {
    background: #4F4949;
    width:17.4vw;
    height: 8vh;
    float:left;
    position: relative;
    left: 0.4vw;
    top: 0.4vh;
}



