.main-top-section {
    width: 100%;
    height: 75vh;
    background: #F7F1E7;
    position: relative;
}

.top-header {
    width: 100%;
    height: 4.375vh;
    text-align: center;
    background: #D8D8D8;
}

/*  Step-1 You need to get all of these elements to line up side by side. What display property would do this for you? */

.menu {
    width: 15vw;
    height: 2.5vh;
    background: #536A63;
    float:left;
    position:relative;
    left:0.3vw;
    top:1vh;
}

.logo {
    width: 30vw;
    height: 2.5vh;
    margin-top: .625vh;
    background: #536A63;
    float: left;
    position:relative;
    left:22vw
}

.sign-in {
    width: 15vw;
    height: 2.5vh;
    background: #536A63;
    float:right;
    position:relative;
    right:0.3vw;
    top:1vh;    
}

/*  Step-1 Make this container overhang off its parent container using display and bottom properties.  */

.bottom-container {
    width: 60vw;
    height: 3.75vh;
    left: 22vw;
    background: #536A63;
    display:inline-block;
    position: relative;
    top:69vh;    
}