/* Step-2 add a text-align that will align items in the center.  */
.main-bottom-section {
  margin-top: 2.2vh;
  text-align: center;
  /* alignment property */
}

/* Step-2 Add a width, height and display property to make these containers look like the design. */
.item {
   /*width*/
    /*height*/
    /*display*/
    width: 48vw;
    height: 32vh;
    display: inline-block;
    margin: 0vh 0.35vw 2.3vh 0.5vw;
    background: #DED6D3;
    position: relative;
    top: 5vh;
    right:0.1vw
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.full-width-item {
    /*width*/
    /*height*/
    /* margin*/
    width: 97vw;
    height: 17vh;
    margin-bottom:1vh;
    background: #DED6D3;  
    position: relative;
    top: 4vh; 
    left: 1vw
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.large-item {
    /*width*/
    /*height*/
    /*margin*/
    width: 97vw;
    height: 72vh;
    display: block;
    background: #DED6D3;
    position: relative;
    top:4vh;
    left: 1vw
}


